/* Default Theme (themeDesert) */
:root {
  --bg: AntiqueWhite;
  --textColor: saddleBrown;
  --boxColor: wheat;
  --titleFont: "VT323";
  --infoFont: "VT323";
  --linkClicked: maroon;
  --onLink: chocolate;
  --h1Size: 75px;
  --h2Size: 50px;
  --h3Size: 35px;
}

/* ================================ */
/* =============THEMES============= */
/* ================================ */
/* Noir Theme (themeNoir) */
.themeNoir {
  --bg: DimGrey;
  --textColor: GhostWhite;
  --boxColor: DarkGray;
  --titleFont: "Limelight";
  --infoFont: "Federo";
  --linkClicked: Grey;
  --onLink: SlateGray;
  --h1Size: 60px;
  --h2Size: 40px;
  --h3Size: 25px;
}

/* ================================ */
/* =======STANDARDIZING TAGS======= */
/* ================================ */
body {
  background-color: var(--bg);
  color: var(--textColor);
  display: flex;
  font-size: 25px;
}

h1,
h2,
h3,
label,
edu-info {
  font-family: var(--titleFont);
  margin: 0;
}

h1 {
  font-size: var(--h1Size);
}

h2 {
  font-size: var(--h2Size);
}

h3 {
  font-size: var(--h3Size);
}

p {
  font-family: var(--infoFont);
}

body hr {
  width: 100%;
  border-top: 5px solid #000;
}

#root,
.appContainer {
  display: flex;
  flex: 1;
  width: 100%;
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ================================ */
/* ==============CARDS============= */
/* ================================ */
.standardCard {
  border: 10px solid black;
  border-radius: 60px;
  padding: 25px;
  background-color: var(--boxColor);
}

.invisbleCard {
  padding: 25px;
}

/* ================================ */
/* =======SIDEBAR DIRECTORY======== */
/* ================================ */
.directory {
  font-family: var(--titleFont);
  justify-content: space-evenly;
  width: 200px;
  background: var(--boxColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding: 10px;
  gap: 8px;
}

.directory a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--textColor);
  padding: 8px;
}

.directory a.active,
a:hover {
  color: var(--onLink);
}

.directory a svg {
  width: 20px;
  height: 20px;
}

/* ================================ */
/* ============HOME PAGE=========== */
/* ================================ */
.homeDiv {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.homeDiv p {
  line-height: 0.9;
  margin: 0;
}

.educationDiv {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.educationDiv edu-info {
  line-height: 0.8;
  margin-left: 1em;
  margin-bottom: 0;
  text-indent: -1em;
}

/* ================================ */
/* ========EXPERIENCE INFO========= */
/* ================================ */
.experienceDiv {
  padding-top: 25px;
  width: 750px;
  display: flex;
  flex-direction: column;
}

.experienceDiv p {
  line-height: 0.8;
  margin-left: 1em;
  margin-bottom: 0.5em;
  text-indent: -1em;
}

.experienceDiv li {
  line-height: 0.8;
  margin-left: 1em;
  text-indent: -1em;
  margin-bottom: -25px;
}

/* ================================ */
/* =========THEME SWITCHER========= */
/* ================================ */
.themeSwitcher {
  font-family: var(--infoFont);
}

.themeSwitcher select {
  font-family: var(--infoFont);
}

/* ================================ */
/* ========CONTACT ME PAGE========= */
/* ================================ */
.contactDiv {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.contactDiv textarea,
input,
button {
  background-color: var(--bg);
  border-radius: 8px;
}

.contactDiv input {
  font-family: var(--infoFont);
  padding: 12px 20px;
  height: 5px;
  width: 250px;
  font-size: 20px;
}

.contactDiv textarea {
  font-family: var(--infoFont);
  padding: 12px 20px;
  height: 50px;
  width: 500px;
  font-size: 25px;
}

.contactDiv button {
  font-family: var(--titleFont);
  font-size: 20px;
}


/* ================================ */
/* ===========BLOG PAGE============ */
/* ================================ */
.blogDiv {
  width: 1500px;
}

.blogPostDiv {
  margin-top: 30px;
  width: 1300px;
  border: 5px solid black;
  border-radius: 60px;
  padding: 25px;
  background-color: var(--boxColor);
  white-space: pre-wrap;
}

.blogPostDiv a {
  color: var(--textColor);
}

.blogPostDiv a:visited {
  color: var(--linkClicked);
}